# Do not track the pdflatex/latexmk auxiliary files
*.aux
*.fdb_latexmk
*.fls
*.log
*.maf
*.mtc
*.mtc0
*.out
*.stc*
*.synctex.gz
*.toc
*.acn
*.acr
*.alg
*.bbl
*.bcf
*.blg
*.glg
*.glo
*.gls
*.ist
*.idx
*.ind
*.lof
*.lot
*.out
*.run.xml
*.synctex(busy)
*.lot
*.xdv
*.fdb_latexmk
__latexindent_temp.tex
*.s*
*.xwm

# Also ignore the gitinfo2 file
gitHeadInfo.gin
